<!DOCTYPE html>
<div layout:decorate="~{layouts/main :: layout(sidebar='nutri', title='Healtry - Nutricionista:Home', css='nutrimain')}"
	layout:fragment="contenido">

	<div class="container">
		<div class="row g-3">
			<div class="col-12 col-md-6">
				<a href="alta-cliente.html" class="btn-card">
					<img th:src="@{/images/icons/addclient.png}" alt="Alta de cliente">
					<span>Alta de cliente</span>
				</a>
			</div>

<!-- 			<div class="col-12 col-md-6"> -->
<!-- 				<a href="nuevo-plan.html" class="btn-card"> -->
<!-- 					<img th:src="@{/images/icons/planejercicios.png}" alt="Nuevo plan de ejercicio"> -->
<!-- 					<span>Nuevo plan de ejercicio</span> -->
<!-- 				</a> -->
<!-- 			</div> -->

			<div class="col-12 col-md-6">
				<a href="nueva-dieta.html" class="btn-card">
					<img th:src="@{/images/icons/planalimentacion.png}" alt="Nueva dieta semanal">
					<span>Nueva dieta semanal</span>
				</a>
			</div>

<!-- 			<div class="col-12 col-md-6"> -->
<!-- 				<a href="medicion.html" class="btn-card"> -->
<!-- 					<img th:src="@{/images/icons/medida.png}" alt="Realizar medición"> -->
<!-- 					<span>Realizar medición</span> -->
<!-- 				</a> -->
<!-- 			</div> -->

		</div>
	</div>

	</body>

	</html>