<!-- Modal Crear y editar Eliminación -->
<div class="modal fade" id="modalGuardarUsuario" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header main-color-light">
				<h5 class="modal-title" x-text="modoEdicion ? 'Editar usuario' : 'Nuevo usuario'"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<form @submit.prevent="guardarUsuario()">
					<div class="mb-3">
						<label class="form-label">ID</label>
						<input type="text" class="form-control main-color-light" x-model="usuario.id" readonly />
					</div>
					<div class="mb-3">
						<label class="form-label">Nombre</label>
						<input type="text" class="form-control main-color-light" x-model="usuario.nombre" required />
					</div>
					<div class="mb-3">
						<label class="form-label">Apellidos</label>
						<input type="text" class="form-control main-color-light" x-model="usuario.apellidos" required />
					</div>
					<div class="mb-3">
						<label class="form-label">Correo</label>
						<input type="email" class="form-control main-color-light" x-model="usuario.correo" required />
					</div>
					<div class="mb-3">
						<label class="form-label">Rol</label>
						<select class="form-select main-color-light" x-model.number="usuario.rol.id" required>
							<option value="">Seleccione un rol</option>
							<template x-for="r in roles" :key="r.id">
								<option :value="r.id" x-text="r.nombre"></option>
							</template>
						</select>
					</div>
					<div class="text-end">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
							Cancelar
						</button>
						<button type="submit" class="btn btn-success">
							<i class="bi bi-save me-1"></i> Guardar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal Confirmar Eliminación -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-danger text-white">
				<h5 class="modal-title">Confirmar eliminación</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				¿Seguro que deseas eliminar el usuario?
				<strong x-text="usuario.id"></strong>?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cancelar
				</button>
				<button type="button" class="btn btn-danger" @click="eliminarUsuario()">
					<i class="bi bi-trash me-1"></i> Eliminar
				</button>
			</div>
		</div>
	</div>
</div>