 .nav-title {
 	text-align: center;
 	padding-bottom: 10px;
 	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 }

 .main-color {
 	background-color: #99ff99;
 }

 .main-color-light th {
 	background-color: #dcffdc;
 	color: #000;
 }

 .main-color-light {
 	background-color: #dcffdc;
 }

 input.main-color-light:is(:read-only, :disabled) {
 	background-color: #cacaca;
 	opacity: 1;
 }

 .custom-navbar {
 	background-color: #dcffdc;
 	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }

 .navbar-brand {
 	font-weight: bold;
 	font-size: 1.5rem;
 }

 .toast-container {
 	position: fixed;
 	top: 1rem;
 	right: 1rem;
 	z-index: 2000;
 }

 body {
 	min-height: 100vh;
 	overflow-x: hidden;
 }

 .sidebar {
 	width: 250px;
 	background-color: #f8f9fa;
 	flex-shrink: 0;
 	border-right: 1px solid #dee2e6;
 }

 .sidebar .user-info {
 	padding: 1.5rem 1rem;
 	text-align: center;
 	border-bottom: 1px solid #dee2e6;
 }

 .sidebar .user-info img {
 	width: 80px;
 	height: 80px;
 	border-radius: 50%;
 	object-fit: cover;
 	margin-bottom: 0.5rem;
 }

 .sidebar .nav-link {
 	color: #333;
 	font-weight: 500;
 }

 .sidebar .nav-link.active {
 	background-color: #dcffdc;
 	color: #000;
 	font-weight: 600;
 }
 
 .sidebar .nav-link:hover {
    background-color: #99ff99;
    color: #000;
    font-weight: 600;
}

 .content {
 	flex-grow: 1;
 	padding: 2rem;
 }
 
 
 body {
  min-height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  min-height: calc(100vh - 56px); /* 56px = altura navbar Bootstrap */
}

.sidebar .user-info {
  padding: 1.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}

.sidebar .user-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.sidebar .nav-link {
  color: #333;
  font-weight: 500;
}

.sidebar .nav-link.active {
  background-color: #dcffdc;
  color: #000;
  font-weight: 600;
}